{% extends 'shop/base.html' %}
{% load static %}

{% block title %}
    Home
{% endblock title %}

{% block content %}
    <div id="main">
        <h1>Products</h1>
        {% for product in products %}
            <div class="item">
                <a href="{{ product.get_absolute_url }}">
                    <img src="{% if product.image %}
                                {{ product.image.url }}
                              {% else %}
                                {% static "img/no_image.png" %}
                              {% endif %}" height="300px" width="300px">
                </a>
                <p></p><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></p>
                <p>${{ product.price }}</p>
                <p>Stock: {{ product.stock }}x</p>
                {% if user.is_authenticated %}
                    <form action="{% url 'cart:cart_add' product.id %}" method="post">
                        {{ cart_product_form }}
                        {% csrf_token %}
                        <input type="submit" value="Add to cart">
                    </form>
                {% endif %}
                <hr>
            </div>
        {% endfor %}
    </div>

    {% include 'shop/pagination.html' with page_obj=page_obj %}

{% endblock content %}