{% extends 'blog/base.html' %}

{% block content %}

    <h3><a href="{% url 'zoo:animal-create' %}">Create new animal</a></h3>

    <form action="." method="post ">
        <legend><h3>Search an animal by name</h3></legend>
        {{ form.name }}
        {% csrf_token %}
        <button type="submit">Search</button>
    </form>
    <br>

    <h2>List of animals in the zoo:</h2>
    {% for animal in animals %}
        <p><a href="{% url 'zoo:animal-detail' animal.id %}">Name: {{ animal.name }}</a></p>
        <p>Type: {{ animal.type }}</p>
        <hr>
    {% empty %}
        <p>There is not any animal.</p>
    {%  endfor %}



{% endblock content %}