{% load static %}

<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    <strong>{{ message.tags|upper  }}: </strong>{{ message|safe }}
                    <a href="{{ request.get_absolute_url }}" class="close">
                        <span aria-hidden="true">&times;</span>
                    </a>
                </div>
            {% endfor %}
        </ul>
        <hr>
    {% endif %}

    {% if user.is_authenticated  %}
        <h1>Welcome {{ user.username }}{% if user.is_superuser %} (Admin){% endif %}!</h1>
        <p><a href="{% url 'account_logout' %}">Logout</a></p>
        <hr>
        <hr>
    {% endif %}

    <p><a href="{% url 'film-sessions:session-list' %}">Home</a></p>

    <div>
        {% block content %}
        {% endblock content %}
    </div>

    {%  include 'js.html' %}
    {% block js %}
    {% endblock js %}
</body>
</html>