{% extends 'index.html' %} {% block content %}
    {# check if length of string is even #}
    {% if string|length|divisibleby:"2" %}
        <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="25"
             aria-valuemin="0" aria-valuemax="100">
            <h2><u>Длина строки {{ string }} - четное число!</u></h2>
            <h1>Ты победил!<h1>
        </div>
    {% else %}
        <div class="progress-bar bg-danger" role="progressbar" style="width: 100%"
             aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
            <h2><u>Длина строки {{ string }} - нечетное число!</u></h2>
            <h1>Ты проиграл!</h1>
        </div>
    {% endif %}
{% endblock %}