<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    {% if user.is_authenticated %}
        <p><a href="{% url 'logout' %}">Logout</a></p>
        <p><a href="{% url 'pass-change' %}">Change password</a></p>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'login' %}">Register</a>
    {% endif %}

    <p>
        {% if user.is_authenticated %}
            <h3>Current user is:</h3>
            {{ user.username }}
            <h2>Search article by text</h2>
            <form action="{% url 'search' %}" method="get">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Search</button>
            </form>
        {% else %}
            Please login!
        {% endif %}
    </p>
    <br>


    <h2>Articles:</h2>
    {% for article in articles %}
        <p>Article by {{ article.author }}, {{ article.created_at }} . Genre is {{ article.genre }}</p>
        <a href="{{ article.get_absolute_url }}">Link to article</a>
        <p>{{ article.text }}</p>
        <hr>
    {% endfor %}

    <h2>Article create</h2>
    <form action="{% url 'article-create' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create article</button>
    </form>
</body>
</html>